@import '~@alaskaairux/design-tokens/dist/tokens/SCSSVariables';
@import "~@alaskaairux/webcorestylesheets/dist/breakpoints";
@import '~@alaskaairux/webcorestylesheets/dist/fonts';
@import "~@alaskaairux/webcorestylesheets/dist/normalize";
@import "~@alaskaairux/webcorestylesheets/dist/essentials";
@import '@alaskaairux/webcorestylesheets/dist/utilityClasses/fontStyles';

.container-sm {
    max-width: 400px;
    border-style: solid;
    border-radius: 20px;
    padding: var(--auro-size-md) var(--auro-size-xl);
    border-color: var(--auro-color-ui-default-on-light);
    background-color: var(--auro-color-background-lightest);
}

.form-group {
    padding-left: 0;
}

input.form-control {
    border-style: none none solid none;
    border-radius: 0;
}

.util_body--lg {
    font-size: x-large;
    font-weight: 800;
    margin: 16px 0;
}